---
layout: default
---

<div class="header-bar">
  <h1>Jared Desjardins</h1> 
</div>

<br/>
<h2>Department of Linguistics | University of Colorado Boulder</h2>
<br/>

<br/>

<img class="col one right" src="/img/hanginglake.jpg">

<span>I'm a PhD student in the <a href="http://www.colorado.edu/linguistics/">Department of Linguistics</a> at the <a href="http://www.colorado.edu/">University of Colorado Boulder</a>, and my <a href="http://jared-desjardins.github.io/pages/3_research/">research specialization</a> is in theoretical linguistics - particularly morphology, syntax, semantics, and their interface. Outside of linguistics, I enjoy nature, thinking, music, and being with my dog. The picture to your right is of me taking a picture of a chipmunk at <a href="http://en.wikipedia.org/wiki/Hanging_Lake">Hanging Lake</a>, and <a href="http://jared-desjardins.github.io/img/chipmunk.jpg"><strong>this</strong></a> is the picture of the chipmunk.</span>

<!--

{% for project in site.pages %}

{% if project.redirect %}
<div class="project">
    <div class="thumbnail">
        <a href="{{ project.redirect }}" target="_blank">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}    
        <span>
            <h1>{{ project.title }}</h1>
            <br/>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>
{% else %}

<div class="project ">
    <div class="thumbnail">
        <a href="{{ site.baseurl }}{{ project.url }}">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}    
        <span>
            <h1>{{ project.title }}</h1>
            <br/>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>

{% endif %}

{% endfor %}
-->
<!--
<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>
-->
